<div class="reviews" *ngIf="movie?.reviews?.length > 0">
  <div class="review" *ngFor="let review of movie?.reviews">
    <div class="review-details">
      <div class="review-left">
        <div class="author">{{ review.author }}</div>
        <div class="author_dt">
          {{ review.published_on | date: "dd-MMM-YYYY" }}
        </div>
      </div>
      <div class="review-right">
        <div class="rating">
          <app-star-rating
            [rating]="review.rating"
            [isReadOnly]="true"
          ></app-star-rating>
          <span class="rating-value">{{ review.rating }}</span>
        </div>
      </div>
    </div>
    <div class="review-text">{{ review.text }}</div>
  </div>
</div>

